img {
 width: 50% ;
 margin-right: 10px;

}

body{
	background-image: url("backGround.jpg");
}

header{

	font-size: 5em;
}
#topDiv{
	background-color: #ddd941;
	color:white;
	text-align: center;
}
#display{

	color:white;
	text-align: center;
	font-size: 3em;
	background-color: #ddd941;
}

#test{
	width: 50%;
	height: 90%;
	margin-left: 280px;
	background-color: #70add1;  /*blue*/
	color: #33627e
	margin-bottom: 100px;

}

li{
	margin-top: 50px;
	right:50;
	text-align: center;
}

#scoreCard{

	background: #70add1;
	width:50%;
	height:50%;
	margin-left: 280px;
	color: white;
	font-size: 2em;
	margin-top: 80px;

}









